@use '../../../Sass/_variables.scss' as *;
@use '../../../Sass/_mixins.scss' as *;

.box-container-inputs-by-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.3125rem;
    @include responsive(tablet) {
        width: 50%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.3125rem;
    }
    @include responsive(desktop) {
        width: 50%;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.3125rem;
    }
}