@use '../../../Sass/_variables.scss' as *;
@use '../../../Sass/_mixins.scss' as *;

.container-registro-vecinos-colindantes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    @include responsive(tablet-small) {
        flex-direction: column;
    }
    @include responsive(tablet) {
        flex-direction: column;
    }
    @include responsive(desktop) {
        flex-direction: column;
    }
    &__article {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
        @include responsive(tablet) {
            flex-direction: column;
            justify-content: flex-start;
        }
        @include responsive(desktop) {  
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}