@use '../../../Sass/_variables.scss' as *;
@use '../../../Sass/_mixins.scss' as *;

.text-area-component {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    &__label {
        width: 100%;
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
        color: $font-color-primary;
        text-align: left;
        padding-left: 0.5rem;
    }
    &__textarea {
        width: 100%;
        min-height: 15rem;
        padding: 1rem 1rem;
        border: none;
        outline: none;
        background-color: $primary-hover-blue;
        border-radius: $border-radius-md;
        resize: none;
        
        @include responsive(desktop) {
            min-height: 21.25rem;
        }
    }
}