@use '../../../Sass/_variables.scss' as *;
@use '../../../Sass/_mixins.scss' as *;

.primary-button-new-small {
    width: 17.375rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-button-color;
    color: $font-color-secondary;
    border-radius: $border-radius-sm;
    border: none;
    cursor: pointer;
    font-size: $font-size-md;
    font-weight: $font-weight-regular;
    text-transform: capitalize;
    @include responsive(tablet) {
        width: 15rem;
        height: 3.125rem;
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
        text-transform: capitalize;
    }
    @include responsive(desktop) {
        width: 15rem;
        height: 3.125rem;
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
        text-transform: capitalize;
    }
}