@use '../../../Sass/_variables.scss' as *;
@use '../../../Sass/_mixins.scss' as *;

.primary-input-text-validator {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    &__label {
        width: 100%;
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
        color: $font-color-primary;
        text-align: left;
        padding-left: 0.5rem;
    }
    &__input {
        width: 100%;
        height: 3.3125rem;
        min-height: 3.3125rem;
        padding: 0 1rem;
        border: none;
        outline: none;
        background-color: $primary-hover-blue;
        border-radius: $border-radius-md;
    }
}