.sectionmenu {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 34px;
    padding: 14px;
    margin-bottom: 72px;
}